<div class="column small-9 small-centered spacer">
  <div class="callout secondary shadow">

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:name, "NAME : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= @site.name %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:address, "ADDRESS : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= @site.address %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:pin, "PIN CODE : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= @site.pin %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:city_id, "CITY : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><% if !@site.city.nil? %><%= @site.city.name %><% end %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:phone, "PHONE NUMBER : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= @site.phone %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:website, "WEBSITE LINK : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= link_to(@site.website) %></label>
      </div>
    </div>

    <div class="row middle text-center">
      <div class="small-6 columns">
        <label class="text-right middle"><%= label_tag(:tags, "TAGS : ") %></label>
      </div>
      <div class="small-6 columns">
        <label class="text-left middle"><%= @site.tags %></label>
      </div>
    </div>

  </div>
</div>