<div class="column small-9 spacer">
  <div class="callout secondary shadow">
    <div class="row">
      <div class="small-4 columns">
        <label class="text-right middle"><%= u.label(:name, "NAME : ") %></label>
      </div>
      <div class="small-5 columns">
        <%= u.text_field (:name) %>
      </div>
      <div class="small-2 columns">
      </div>
    </div>

    <div class="row">

      <div class="small-4 columns">
        <label class="text-right middle"><%= u.label(:email, "EMAIL : ") %></label>
      </div>
      <div class="small-5 columns">
        <%= u.text_field(:email) %>
      </div>
      <div class="small-2 columns">
      </div>
    </div>
    <div class="row">

      <div class="small-4 columns">
        <label class="text-right middle"><%= u.label(:password, "PASSWORD : ") %></label>
      </div>
      <div class="small-5 columns">
        <%= u.password_field(:password) %>
      </div>
      <div class="small-2 columns">
      </div>
    </div>

  </div>
</div>
<br>
<br>