<p><%= link_to("Back to All stores", {:action => 'index'}) %></p>
<p>Name : <%= @store.name %></p>
<p>Address : <%= @store.address %></p>
<p>Pin code : <%= @store.pin %></p>
<p>Phone No. : <%= @store.phone %></p>
<p>Website link : <%= @store.website %></p>
<p>tags : <%= @store.tags %></p>
<p>City : <%= @store.city_id %></p>
<%= link_to("Edit", {:action => 'edit', :id => @store.id}) %><br>
